*{
  margin: 0;
  padding: 0;
}
body{
  background-color:#680101;
}
.header{
  font-family: 'Russo One', sans-serif;
  width: 100%;
  height: 500px;
  background-image: url(images/spiderman-3.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 100px;
  justify-content: center;
  background-repeat: no-repeat;
}

nav{
  display: flex;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  justify-content: space-between;
}

nav img{
  width: 300px;
}

.nav-links{
  flex: 1;
  text-align: right;
  padding-bottom: 20px;

}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
  font-size: larger;
}

.nav-links ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: red;
  display: block;
  margin: auto;
  transition: 0.2s;
}
.nav-links ul li:hover ::after{
  width: 100%;
}

.nav-links li:hover{
  transform: translateY(-2px);
  transition-duration: 0.3s;
}

.discription{
  transform: translateY(-10px);
}

.text-box{
  transform: translateY(400%);
  color: #fff;
  padding-left: 20px;
  font-size: 15px;
  font-family: 'Rubik Mono One', sans-serif;
  z-index: 1;
}

.text-box .span1{
  font-size: 45px;
}


.watch-now-button{
  padding-left: 34vh;
  font-size: x-large;
  transform: translateY(370%);
  size: 0;
  z-index: 1;
  position: absolute;
}



.watch-now-button button{
  background-color: #7D7463;
  border: none;
  border-radius: 1vh;
  height: 65px;
  width: 190px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Russo One', sans-serif;
  z-index: 1;
}

.watch-now-button button:hover{
  transition-duration: 0.26s;
  transform: translateY(-1.3px);
  background-color: #ffa600;
}

.spider-man-img img{
  transform: translateY(-530px);
  z-index: 1;
}


.spider-man-infos{
  color: white;
  font-family:fantasy;
  font-size: large;
  transform: translateY(-70pc);
  padding-left: 800px;
}






































